<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Control_Machine_Sistem.styles.css" asp-append-version="true" />   
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">       
                     <ul class="navbar-nav">
                        @if (User.Identity!.IsAuthenticated)
                        {
                            <li class="nav-item logout-item">
                                <a class="nav-link" id="logout" asp-controller="UsersLogin" asp-action="Logout">Cerrar Sesión</a>
                            </li>

                        }
                    </ul>               
            </div>
        </nav>
    </header>
   
    @if (User.Identity!.IsAuthenticated)
    {
        <div class="sidebar">
            <ul class="nav">

                <img src="~/img/images/Logo.jpg" alt="Logo" class="navbar-icon" />
                
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Customers" asp-action="Index">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Models" asp-action="Index">Modelos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Machines" asp-action="Index">Máquinas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Services" asp-action="Index">Services</a>
                </li>
            </ul>
        </div>
    }

    <div class="container content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="footer">
        <div class="container">
            &copy; 2025 - Todos los derechos reservados -
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>