
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

header {
    background-color: black;
}

body {
    margin-bottom: 110px;
}


 /*alinear el botón de cerrar sesión a la derecha */
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;   
}

    .navbar-nav .logout-item  {
        margin-left: auto;  /*mueve el elemento a la derecha */
        font-size: medium;        
    }


 /*ajustar la barra de navegación para que el logo tenga más espacio */
.navbar {
    height: 45px;  /*aumentar la altura para que no se superponga */
    display: flex;
    align-items: center;   
}

.nav-link {
    color: #eabe2e;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

    .nav-link:hover {
        color: white;
    }


/* ajuste del logo */
.navbar-icon {
    width: 130px;  /*aumentar el tamaño del logo si es necesario */
    margin-left: 5px;
}

/* estilos de la barra lateral */
.sidebar {
    position: fixed;
    top: 0px;  /*ajustar para que no se superponga con la barra de navegación */
    left: 0px;
    width: 145px;
    height: calc(100% - 100px);  /*evita que la barra lateral se extienda sobre la navbar */
    background-color: #eabe2e;
    padding-top: 5px;
}

    .sidebar .nav {
        list-style: none;
        padding-left: 0px;
    }

    .sidebar .nav-item {
        padding: 15px 20px;
    }

    .sidebar .nav-link {
        color: #0d0d0d;
        text-decoration: none;
        display: block;
        border-radius: 5px;
        width: 134px;
        margin-left: -15px
    }

        .sidebar .nav-link:hover {
            background-color: #0d0d0d;
            color: #eabe2e;
            border-radius: 5px;            
        }

/* ajustar el contenido principal para que no quede debajo de la barra lateral */
*.content {
    margin-left: 160px;  /*mismo ancho de la barra + margen */
    padding: 20px;
}


.footer {
    background-color: #0d0d0d;
    color: gray;
    padding: 10px 0;
    text-align: center;
}

    .footer .container {
        max-width: 1200px;
        margin: auto;
        padding: 10px;
    }

    .footer p {
        margin: 5px 0;
        font-size: 14px;
    }

    .footer a {
        color: #ffa500;
        text-decoration: none;
        margin: 0 5px;
    }

        .footer a:hover {
            text-decoration: underline;
        }

    .footer i {
        margin-right: 5px;
    }

    .footer h5 {
        margin-bottom: 10px;
        font-size: 16px;
    }

.container {
    max-width: 1200px;
}

.banner {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}