@model Control_Machine_Sistem.ViewModels.QrCodeIndexViewModel

@{
    ViewData["Title"] = "Generar QR";
}

<h1>Generar codigo QR</h1>
<hr/>
<form method="post" asp-action="GenerateQr">
    <div class="form-group">
        <label for="machine">Seleccione una Máquina:</label>
        <select class="form-control" id="machine" name="machineId">
            <option value="">Máquina</option>
            @foreach (var machine in Model.Machines!)
            {
                <option value="@machine.Value">
                    @machine.Text
                </option>
            }
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Generar QR</button>
</form>