@using Control_Machine_Sistem.ViewModels
@model List<ManualViewModel>

<h2>Manuales de la Máquina</h2>

<ul>
    @foreach (var manual in Model)
    {
        
        var fileUrl = Url.Content("~/manuals/models/" + manual.OriginalName);

        <li>
            <a href="@fileUrl" target="_blank">
                Descargar @manual.DisplayName
            </a>
        </li>
    }
</ul>