@using Control_Machine_Sistem.ViewModels
@model List<ManualViewModel>

@{
    Layout = null;    
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>Manuales de la Máquina</h2>
        </div>
        <div class="card-body">
            <ul class="list-group">
                @foreach (var manual in Model)
                {

                    var fileUrl = Url.Content("~/manuals/models/" + manual.OriginalName);

                    <li class="list-group-item">
                        Descargar:
                        <a href="@fileUrl" target="_blank">
                           @manual.DisplayName
                        </a>
                    </li>
                }
            </ul>
            <br />
            <a href="javascript:history.back();" class="btn btn-secondary">
                Volver al menú principal
            </a>
        </div>
    </div>
</div>