@model Control_Machine_Sistem.Models.Model

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Modelo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Manuals" class="control-label"></label>
                <input type="file" asp-for="Manuals" class="form-control" multiple />
                <span asp-validation-for="Manuals" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <br />
                <input type="submit" value="Crear modelo" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
